<h1><%= @user.first_name %>  <%= @user.last_name %></h1>
<h2> <%= image_tag "mail.png", height: 40 %>     <%= @user.email %></h2>




<ul class="cards">
  <% @user.containers.each do |container| %>
  <li class="cards__item">
    <div class="card">
      <%# link_to customers_container_path(container) do %>
      <div class="card__image card__image--fence" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(<%=cl_image_path(container.photo, height: 300, width: 400, crop: :fill) unless container.photo.blank? %>)"></div>
      <%# end %>
      <div class="card__content">
        <div class="card__title">  <h2> <%=container.supermarket %></h2></div>
        <p class="card__text"><p><%= container.address %></p>
          <p>Products: <%= container.product_category %><p>
          <p>Posted by <%= container.user.first_name %> </p></p>
          <p><%= container.description  %></p>

    <% if policy(container).destroy? %>
        <p><%= link_to "Delete", providers_container_user_path(container), method: :delete %></p>
      <% end %>

        <% if policy(container).update? %>
          <p><%= link_to 'Update',  edit_providers_container_path(container) %></p>
        <%	 end %>
      </div>
    </div>
  </li>

<% end %>
</ul>
<%= link_to 'Go Back to See all Containers', customers_containers_path %>






