<h1><%= @user.first_name %>  <%= @user.last_name %></h1>
<h2> E-mail:<%= @user.email %></h2>


<h3> All the containers <%= @user.first_name%> created:</h3>
<% @user.containers.each do |container| %>
<h2> <%= container.supermarket %></h2>
<p><%= container.address %></p>
<p>Description <%= container.description %> </p>
<p><%= link_to "Delete", providers_container_user_path(container), method: :delete %></p>
<% end %>
<%= link_to "Go Back to See all Containers", providers_containers_path %>
