<div
id="map"
style="width: 100%;
height: 400px;"
data-markers="<%= @markers.to_json %>"
data-user_markers="<%= @user_markers.to_json %>"

></div>



<ul class="cards">
  <li class="cards__item">
    <div class="card">
      <%# link_to customers_container_path(container) do %>
      <div class="card__image card__image--fence" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(<%=cl_image_path(@container.photo, height: 300, width: 400, crop: :fill) unless @container.photo.blank? %>)"></div>
      <%# end %>
      <div class="card__content">
        <div class="card__title">  <h2> Enjoy :) </h2>
          </div>
        <p class="card__text">
          <p><%= @visit.container.supermarket %></p><p><%= @visit.container.address %></p>
          <p>Products: <%= @visit.container.product_category %><p>
          <p>Posted by <%= @visit.container.user.first_name %> </p></p>
          <p><%= @visit.container.description  %></p>

      </div>
    </div>
  </li>

</ul>









