<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>


<% @containers.each do |container| %>
  <h1>Supermarket: <%= container.supermarket %></h1>
  <p>Where? <%= container.address %><p>
  <p>Which Products? <%= container.product_category %><p>
  <p>About the Container: <%= container.description %><p>
  <p>Posted by <%= link_to container.user.first_name, providers_container_user_path(id: container.user.id, container_id: container.id) %> </p>
  <p><%# link_to "Delete", providers_containers_path(container), method: :delete %></p>
<% end %>
