<div class="container" >
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <%= simple_form_for @container, url: providers_containers_path  do |f| %>
      <%= f.input :supermarket, label: "Location", collection: %w(Restaurant Edeka Aldi Real Metro Lidl Spar Netto Plus TanteEmma) %>
      <%= f.input :address%>
      <%= f.input :product_category, collection:  %w(vegetables meats fruits bread dairy liquid beer cans ingredients starchy) %>
      <%= f.input :description, :input_html => {:size => 100, :maxlength => 160}, placeholder: "max. 160 Characters" %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit %>
      <% end %>
      <%= link_to "See all the Containers", providers_containers_path %>
    </div>
  </div>
</div>

