<div class="container" >
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <%= simple_form_for @container, url: providers_containers_path  do |f| %>
      <%= f.input :supermarket, label: "Location", collection: %w(Restaurant Edeka Aldi Real Metro Lidl Spar Netto Plus TanteEmma) %>
      <%= f.input :address, as: :string, id: "address"%>
    <!--   <form id="searchForm">
        <input type="text" id="address" class="form-control" placeholder="Type an address">
        <input type="submit" value="Geocode!" class="btn btn-default">
      </form> -->

      <%= f.input :product_category, collection:  %w(vegetables meats fruits bread dairy liquid beer cans ingredients starchy) %>
      <%= f.input :description, :input_html => {:size => 100, :maxlength => 160}, placeholder: "max. 160 Characters" %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit %>
      <% end %>

      <%= link_to "See all the Containers", providers_containers_path %>
      <%# if user_signed_in? %>
      <%# link_to "See your already created Containers", providers_container_user_path(@container, container_id: @container) %>
    </div>
  </div>
</div>

