<div
id="map"
style="width: 100%;
height: 400px;"
data-markers="<%= @markers.to_json %>"
data-user_markers="<%= @user_markers.to_json %>"

></div>

<div class="container">


  <%= simple_form_for User.new, url: customers_containers_path, method: :get do |f| %>
  <%= f.input :address, input_html: {id: "user_address"} %>
  <%= f.input :first_name, as: :hidden, autofocus: true, input_html: { value:  "mikkel" } %>
  <%= f.input :last_name, as: :hidden,  autofocus: true , input_html: { value:  "angelo" }%>
  <%= f.input :email, as: :hidden, autofocus: true , input_html: { value:   [[('a'..'z').to_a[rand(26)]], '@email.com'].join   } %>
  <%= f.input :password, as: :hidden, input_html: { value:  123456 } %>
  <%= f.input :password_confirmation, as: :hidden, input_html: { value:  123456 }%>
  <%= f.submit "submit" %>
  <% end %>


  <%= simple_form_for Container.new, url: customers_containers_path, method: :get do |f| %>
  <%= f.input :product_category, collection:  %w(vegetables meats fruits bread dairy liquid beer cans ingredients starchy) %>
    <%# f.input :address, input_html: {id: "user_address"} %>

  <%= f.submit "submit" %>
  <% end %>

  <div class="row">
    <% @containers.each do |container| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(42,42,44,.7), rgba(42,42,44,.7)), url(<%=cl_image_path(container.photo, height: 300, width: 400, crop: :fill) unless container.photo.blank? %>);">
          <div class="card-description">
            <div class="card-category">
            <h2>Location: <%= link_to container.supermarket, customers_container_path(container) %></h2></div>
            <p><%= container.address %><p>
            <p>Products: <%= container.product_category %><p>
            <p>Posted by <%= link_to container.user.first_name, providers_container_user_path(id: container.user.id, container_id: container.id) %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
