<div
id="map"
style="width: 100%;
height: 600px;"
data-markers="<%= @markers.to_json %>"
></div>

<div class="container">

   <%= simple_form_for Container.new, url: customers_containers_path, method: :get do |f| %>
   <%= f.input :product_category, collection:  %w(vegetables meats fruits bread dairy liquid beer cans ingredients starchy) %>
   <%= f.submit "submit" %>
   <% end %>

  <div class="row">
  <% @containers.each do |container| %>
  <div class="col-xs-12 col-sm-4">

    <div class="card" style="background-image: linear-gradient(rgba(0,0,2600,0.3), rgba(0,0,260,0.2)), url(<%=cl_image_path(container.photo, height: 300, width: 400, crop: :fill) unless container.photo.blank? %>);">
      <div class="card-description">
        <div class="card-category">
         <%# container.photo %>
        <h2>Location: <%= link_to container.supermarket, customers_container_path(container) %></h2></div>
        <p><%= container.address %><p>
        <p>Products: <%= container.product_category %><p>
        <p>About the Container: <%= container.description %><p>
        <p>Posted by <%= link_to container.user.first_name, providers_container_user_path(id: container.user.id, container_id: container.id) %> </p>
      </div>
    </div>
  </div>

  <% end %>


</div>
</div>
