<div
id="map"
style="width: 100%;
height: 400px;"
data-markers="<%= @markers.to_json %>"
></div>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%=cl_image_path @container.photo unless @container.photo.blank? %>);">
  <div class="card-category">
    <div>
      <% if @container.supermarket == "Restaurant" %>
      <h2> <%= image_tag "restaurant.png", height: 80 %><%= @container.supermarket %></h2>
      <% else @container.supermarket ==  "Aldi" || "Real" || "Metro" || "Lidl"|| "Spar" || "Netto" || "Plus" || "TanteEmma" %>
      <h2> <%= image_tag "supermarket.png", height: 80 %><%= @container.supermarket %></h2>
      <% end %>
    </div>
  </div>

  <div class="card-description">
    <div>
      <p><%= image_tag "where.png", height: 80 %>
        <%= @container.address %><p>
    </div>
    <div>
      <p><%= image_tag "food.png", height: 80 %> <%= @container.product_category %><p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="description">
        <div class="clean"> <%= image_tag "clean.png", height: 80 %>
        </div>
          <p><%= @container.description %><p>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for Visit.new, url: customers_container_visits_path(@container) do |f| %>
<%= f.input :user_id, as: :hidden, input_html: {value: @user} %>
<%= f.submit "Visit?", class: "btn-submit" %>
<% end %>



