<div class="container-fluid">
  <div class="show-bottom">
    <div class="row">
      <div class="col-xs-12">
        <div class="show-titles">

          <h1>Map of container</h1>
          <h1>Picture of container</h1>
          <p>Supermarket: <%= @container.supermarket %></p>
          <p>Where? <%= @container.address %><p>
            <p>Which Products? <%= @container.product_category %><p>
              <p>About the Container: <%= @container.description %><p>
              </div>
            </div>
          </div>
        </div>
        <%# link_to "Visit?", customers_container_visit_path(@container), class: "btn-submit" %>
        <%= simple_form_for Visit.new, url: customers_container_visits_path(@container) do |f| %>
          <%= f.input :user_id, as: :hidden, input_html: {value: @user} %>
          <%= f.submit "Visit?", class: "btn btn-primary" %>
    <% end %>
      </div>


