<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TODO</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <%= yield %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <%= cloudinary_js_config %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAbXsf4TsNAAsbxejHNIgAQv1jkDdebi58" %>
  <%= javascript_pack_tag "map" %>
  <script type="/text/javascript" src="autocomplete.js"></script>
  <%= render 'shared/footer' %>
</body>
</html>
